@{
    ViewData["Title"] = "Fale conosco";
}
<h2>
    @ViewData["Title"]
</h2>

<h3>
    Holding Clube
</h3>

<hr />

@using (Html.BeginForm("MailMessage", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        @Html.TextBox("Name", "", new { @class = "form-control" })
                    </div>
                    <span class="text-danger"></span>
                </div>
                <div class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">E-Mail</label>
                    <div>
                        @Html.TextBox("Email", "", new { @class = "form-control" })
                    </div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <div>
                        @Html.TextBox("Phone", "", new { @class = "form-control" })
                    </div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Organização / Faculdade</label>
                    <div>
                        @Html.TextBox("Organization", "", new { @class = "form-control" })
                    </div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mensagem</label>
                    <div>
                        @Html.TextArea("Message", "", new { @class = "form-control" })
                    </div>
                    <span class="text-danger"></span>
                </div>

                <br />

                <div>
                    <button class="btn btn-default">Enviar</button>
                </div>

            </form>

        </div>
    </div>
}



<!--<div class="row">
    <div class="col-md-4">
        <form>
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> Nome</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.TextBox("txtEmail", "", new { @class = "form-control" })-->
@*<label class="control-label">E-Mail</label>*@
<!--<input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Telefone</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Organização / Faculdade</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mensagem</label>
                <textarea class="form-control"> </textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>-->
@*<address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
